@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white:#fff;
  --primary-orange:#f9ab00;
  --primary-dark: rgba(255,255,255,0);
  --primary-red: #ef4035;
  --primary-hover-red: #f3350;
   
}

body{
  font-family: "Roboto Condensed" sans-serif;
}

/** Navbar _________________________________________*/
nav{
  z-index: 2;
}
.navbar__logo{
 width:16.25rem; 
}

/** Menu links____________________________________ */
nav a.nav-link{
  /* font-weight:500; */
  font-size: .8rem;
  letter-spacing:0.0375rem;
  cursor:pointer;

}

nav ul li{
  text-transform: uppercase;
}

.navbar-nav > li > a{
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color:var(--primary-white) !important ;
border-top:0.1875rem solid var(--primary-dark) ;
}

.navbar-brand{
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
  border-top: 0.1875rem solid var(--primary-orange);  
}

.navbar-nav > li > a:hover{
  border-top: 0.1875rem solid var(--primary-orange); 
}
/* *Picture________________________________________________ */
.header-wraper {
  position: relative;
  background: url(./assets/ivan.jpeg) no-repeat center fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed" sans-serif;
  z-index: 2;
}

.main-info h1{
  color: #1fdddd ;
  text-transform: uppercase;
}
@media(max-width: 768px){
  .main-info h1{
    font-size:1.5rem !important;

  }
}


/* Typed______________________________________ */
.typed{
  font-size: 2rem;
  color: var(--primary-white);
}

/* header main button_________________________________ */
.btn-main-offer{
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
  text-decoration: none;
}

.btn-main-offer:hover{
  background-color: rgba(0, 0, 0, 0.5);
  color: #f9ab00;
  transition: .5s ease-in-out;
}

/* .tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
} */

/* about Me_____________________________________________ */
.about__head{
  z-index: 2;
}