@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
// Variable colors_______________________________________

$white: #F9F6EF;
$orange: #f9ab00;
$red: #ef4035;
$black: #070707;
$turquoise: #1fdddd;
$tester: #1dff00;
$purple: #4214ad;
$sky: #1fdddd;

// ** functions______________________________________
@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin devStyle{
  width: 25%;
  margin: 25px;
  padding: 15px;
  border: 3px solid #000;
  background-color: $red;
  border-radius: 10px;
}

// Skills_____________________________________________
.skills {
  @include flexCenter();
  color: $white;
}
.languages__container{
  display: flex;
    background-color: #1fdddd;
      img{
        width: 65px;
        height: 65px;
      }

    .front__end{
     @include devStyle()

    }
    .styling{
     @include devStyle()
    }
    .back__end{
    @include devStyle()
    }
    .holder{
      @include devStyle()
    }
}


body {
  font-family: "Roboto Condensed" sans-serif;
  background: $black;
}
/* After header__________________________________*/

.second__area {
  z-index: 1;
}

.languages {
  padding: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}


/** Navbar _________________________________________*/
nav {
  position: fixed;
  top: 0;
  z-index: 999;
  background: $black;
  img{
    width: 3rem;
    height: 3rem;
  }

}
.navbar.sticky {
    position: fixed;
  top: 0;
  width: 100%;
  padding: 1rem;
  height: 4rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.navbar__logo {
 width:16.25rem; 

}

/** Menu links____________________________________ */
nav a.nav-link {
  /* font-weight:500; */
  font-size: .8rem;
  letter-spacing:0.0375rem;
  cursor:pointer;
}

nav ul li {
  text-transform: uppercase;
  text-align: center;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color:$white ;
border-top:0.1875rem solid $black;
background: $black;
  &:hover{
    color: $turquoise;
  }
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus {
  border-top: 2px solid $orange;  
}

.navbar-nav > li > a:hover {
  border-top: 2px solid $orange; 
}
/**Picture________________________________________________ */
.header-wraper  {
  position: relative;
  background: url(./assets/girl.jpg) no-repeat center fixed;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condensed" sans-serif;
  z-index: 2;
}

.main-info h1 {
  color: $sky ;
  text-transform: uppercase;
}
@media(max-width: 768px) {
  .main-info h1 {
    font-size:1.5rem !important;

  }
}


/**Typed______________________________________ */
.typed-text {
  font-size: 1rem;
  color:$white;
}

/**header main button_________________________________ */
.btn-main-offer {
  border: 1px solid $red;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color:$white;
  margin: 2rem;
  text-decoration: none;
}

.btn-main-offer:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #f9ab00;
  transition: .5s ease-in-out;
}
/**Particle_______________________________________________*/
// #tsparticles{
//   z-index: 1;
// }

#AppParticle{
  padding-bottom: 1%;
}

/**about Me_____________________________________________ */
#about__me {
  z-index: 2;  

    h1 {
      text-align: center;
      color: $white;
    }
    .about__inner{
      display: flex;
      flex-direction: row;
      p {
        padding: 20px 50px;
        margin: 1px 50px 1px 50px;
        background: $tester;
        text-align: left;
        border: 1px solid $black;
        border-radius: 25px;
        height: 80vh;
          a {
            text-decoration: none;
            color: $red;
          }

        // .about__img {
        //   // @include flexCenter();
        //     img {
        //       width: 1%;
        //       border: 1px double $black;
        //       border-radius: 100%;
        //       margin: 12px;
        //     }
          // background: url(./assets/ivan.jpeg);
          // border: 2px solid $black;
          // border-radius: 100%;
        }
        
          img{
            border-radius: 50%;
            width: 25vw;
          }
    }
  }
  #who{
    font-size: large;
    font-variant: small-caps;
    color: $purple;
    text-align: center;
  }

  // Projects___________________________________________________
  .projects {
    background: #1dff00;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
  }
  .project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
  
    .project__image {
      width: 100%;
      border-radius: 50px;
      margin: 15px;
      padding: 0.5rem 1rem;

    }
  
    .project__button {
      margin: 1rem;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 5px;
      background-color: #2196f3;
      color: #fff;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #1976d2;
      }
    }
  }
  

/*certification__________________________________________________*/
#certification {
  background: #4214ad;
  display: flex;
  align-items: center;
    h2 {
      flex: 1;
      margin: 0;
      padding: 35px;
      color: $white;
    }
    img{
      flex: 0 0 auto;
      margin-right: 10px;
      width: 450px;
      height: auto;
    }
    a{
      display: block;
      text-align: center;
      text-decoration: none;
      transition: color 0.3s ease;
    }
    a:hover {
      /* Styles when hovering */
      animation: colorChange 5s infinite;
    }
    @keyframes colorChange {
      0% {
        color: $red;
      }
      25% {
        color: $purple;
      }
      50% {
        color: $turquoise;
      }
      75% {
        color: $orange;
      }
    }
}

//Contact_________________________________________________________
.contact-page {
  background: #f9ab00;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  h1 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    label {
      font-size: 1rem;
    }

    input[type='text'],
    input[type='email'],
    textarea {
      padding: 0.5rem;
      border: none;
      border-radius: 20px; /* Makes the input boxes round */
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      outline: none;
      transition: box-shadow 0.3s;

      &:focus {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
    }

    textarea {
      resize: vertical;
      min-height: 120px;
    }

    button {
      padding: 0.75rem 2rem;
      border: none;
      border-radius: 4px;
      background-color: #2196f3;
      color: #fff;
      font-size: 1rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #1976d2;
      }

      &:focus {
        outline: none;
      }
    }
  }
}
